[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
requests = "*"
pip = "*"
bump2version = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
black = "*"
pytest = "*"
tox-pyenv = "*"

[packages]
pycartociudad = {path = ".",editable = true}
twine = "*"
bumpversion = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
