[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
wheel = "*"
flake8 = "*"
pytest = "*"
tox-pyenv = "*"
tox = "*"
bumpversion = "*"
coverage = "*"
sphinx = "*"
twine = "*"
black = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
